#menu {
  display: flex;
  flex-direction: row;
}
#menu li {
  flex-grow: 1;
  list-style-type: none;
}
h1 {
  font-weight: 900;
  text-decoration: underline;
  background-color: springgreen;
  padding: 20px;
}
p {
  font-weight: 500;
  text-decoration: none;
  background-color: springgreen;
  padding: 20px;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 100px;
  background-color: rgb(75, 96, 75);
  background-image: url();
  background-repeat: none;
}
nav ul a {
  text-decoration: underline;
  color: #333;
}

a:hover {
  text-decoration: underline;
  font-size: 30px;
  background: springgreen;
  color: black;
}
